.big-button {
   display: inline-block;
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   color: $color-dark-gray;
   background-color: $color-white;
   padding-top: 14px;
   padding-bottom: 14px; 
   box-shadow: inset 0 0 0 2px $color-dark-gray;
   transition: 0.1s ease-in;
}

.big-button:hover {
   color: $color-white;
   background-color: $color-dark-gray;
}

.big-button:active {
   color: rgba(255, 255, 255, 0.3);
}