.cards {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 260px;
    padding: 30px;
    list-style-type: none;
    margin: 0 auto;
    gap: 30px;
  }

  &__item:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  &__item:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  &__item-pic {
    display: block;
  }

  &__item-inner-container {
    padding-top: 29px;
    padding-left: 28px;
    padding-right: 27px;
    box-shadow: inset 0 0 0 1px $color-gray-nav-border;
  }

  .cards__item:nth-of-type(3) &__item-inner-container {
    padding-top: 26px;
  }

  &__title-link {
    text-decoration: none;
  }

  &__item-title {
    font-size: 17px;
    margin: 0 0 11px;
    color: $color-black;
  }

  .cards__item:nth-of-type(3) &__item-title {
    margin-bottom: 16px;
  }

  &__item-text {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  &__price-bin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 28px;
    border-top: 1px solid $color-gray-nav-border;
    // box-shadow: 0 -1px 0 $color-gray-nav-border;
  }

  &__item-price {
    font-weight: 700;
    margin: 0;
  }

  &__bin-button {
    display: inline-block;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .cards-item-bin {
    opacity: 0.2;
    transition: 0.1s ease;
  }

  .cards-item-bin:hover {
    opacity: 1;
    fill: rgba(99, 209, 187, 1);
  }

  .cards-item-bin:active {
    fill: rgba(99, 209, 187, 0.3);
  }
}

// ! tablet
@media (min-width: 768px) {
  .cards {
    &__list {
      flex-direction: column;
      padding: 67px 50px 53px;
      gap: 54px;
    }

    &__item {
      display: flex;
    }

    &__item-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-top: 26px;
      padding-left: 33px;
      padding-right: 32px;
  }

    &__item-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .cards__item:nth-of-type(2) &__item-title {
      padding-bottom: 3px; //PP
    }

    .cards__item:nth-of-type(3) &__item-title {
      line-height: 24px;
      margin-top: 1px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 15px;
    }

    &__price-bin-container {
      margin-bottom: -4px;
    }

    &__item-price {
      font-size: 17px;
      line-height: 25px;
    }

    &__bin-button {
      margin-top: -6px;
    }
  }
}

// ! desktop
@media (min-width: 1150px) {
  .cards {
    &__list {
      flex-direction: row;
      padding: 112px 50px 56px;
      gap: 51px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 316px;
    }

    &__item-inner-container {
      width: 257px;
      padding-left: 28px;
      padding-right: 31px;
    }

    .cards__item:nth-of-type(2) &__item-inner-container {
      width: 255px;
      padding-right: 33px;
    }

    &__item-title {
      margin-bottom: 9px;
    }

    .cards__item:nth-of-type(2) &__item-title {
      padding-bottom: 0;
    }

    .cards__item:nth-of-type(3) &__item-title {
      margin-top: 2px;
      margin-bottom: 10px;
    }

    &__item-text {
      margin-bottom: 42px;
    }

    .cards__item:nth-of-type(2) &__item-text {
      margin-left: -1px; // PP
    }

    .cards__item:nth-of-type(3) &__item-text {
      margin-left: -1px; // PP
      margin-bottom: 18px;
    }

    .cards__item:nth-of-type(2) &__price-bin-container {
      margin-left: -1px;
    }

    .cards__item:nth-of-type(3) &__price-bin-container {
      margin-left: -1px;
    }

    &__bin-button {
      margin-top: -3px;
    }
  }
}
