.page-body {
   min-width: 320px;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   color: $color-dark-gray;
   background-color: $color-white;
   margin: 0;

   
}