.process {
  &__container {
    min-width: 260px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 58px;
    margin: 0 auto;
  }

  &__inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 23px;
    box-shadow: inset 0 0 0 1px $color-gray-nav-border;
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    margin-top: 0;
    margin-left: 33px;
    padding-left: 58px;
    margin-bottom: 25px;
    background: url("../img/process-title-icon.svg") left 1px top 12px / 32px 22px no-repeat;
  }

  &__video-container {
    position: relative;
    margin-bottom: 35px;
    margin: 0 auto;
  }

  &__video-pic {
    display: block;
  }

  &__play-button {
    position: absolute;
    top: 35px;
    left: 80px;
    width: 101px;
    height: 81px;
    border: none;
    background: url("../img/process-play-button.svg") center center / 101px 77px no-repeat transparent;
    padding: 0;
    transition: 0.1s ease-in-out;
  }

  &__play-button:hover {
    transform: scale(120%);
  }

  &__play-button:active {
    transform: scale(80%);
    opacity: 0.7;
  }

  &__descr-order-container {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 33px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 41px;
    font-size: 13px;
    line-height: 24px;
  }

  &__link {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .process {
    &__container {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 64px;
    }

    &__inner-container {
        padding-top: 0;
    }

    &__title {
      font-size: 20px;
      padding-top: 4px;
      margin-right: auto;
      margin-left: 41px;
      margin-bottom: 23px;
      padding-left: 66px;
      background: url("../img/process-title-icon.svg") left 1px top 0px / 32px 22px no-repeat;
    }

    &__title-break {
      display: none;
    }

    &__video-container {
      order: -1;
      margin-bottom: 39px;
    }

    &__play-button {
      top: 188px;
      left: 284px;
    }

    &__descr-order-container {
      padding-left: 42px;
      padding-right: 42px;
      padding-bottom: 46px;
    }

    &__description {
      font-size: 15px;
      line-height: 30px;
      margin-left: -1px;
      margin-bottom: 40px;
    }

    &__link {
      letter-spacing: -0.6px; // PP
    }
  }
}

@media (min-width: $desktop-width) {
  .process {
    width: 1150px;
    margin: 0 auto;
    &__container {
      padding-bottom: 105px;
    }
    &__inner-container {
      flex-direction: row;
    }

    &__title {
      font-size: 20px;
      padding-top: 97px;
      margin-right: auto;
      margin-left: 79px;
      margin-bottom: 23px;
      padding-left: 0;
      background: url("../img/process-title-icon.svg") left 0 top 47px / 32px 22px no-repeat;
    }

    &__title-break {
      display: block;
    }

    &__video-container {
      margin-bottom: 0;
      margin: 0;
    }

    &__play-button {
      left: 292px;
    }

    &__descr-order-container {
      position: absolute;
      width: 230px;
      bottom: 0;
      right: 0;
      padding-right: 57px;
      padding-bottom: 60px;
    }

    &__description {
      margin-bottom: 51px;
    }

    &__link {
      letter-spacing: -0.55px;
    }
  }

}
