//* viewports
$tablet-width: 768px;
$desktop-width: 1150px;

//* colors
$color-white: #ffffff;
$color-gray-nav-border: #ececec;
$color-gray-footer: #f1f1f1;
$color-welcome-sky: #fafafa;
$color-dark-socials: #231f20;
$color-dark-gray: #444444;
$color-black: #000000;
$color-week-product: #63d1bb;
$academy-teal: #63d1bb;
$form-teal: #62d1ba;

//* titles
$title-fontsize-mobile: 25px;
$title-fontsize-tablet: 43px;
$title-fontsize-desktop: 53px;